.admin{
    background-color: white;
    width:85%;
    box-shadow: 0 0 4px black;
    text-align: left;

    margin:20px auto;
    padding:15px 5px;
    .buttonsForAdmin{
        margin:10px 0;
        button{
            display: inline-block;
            color:black;
            background-color: white;
            padding:15px;
            transition: 0.4s;
        }
        button:hover{
            background-color: rgb(70, 100, 139);
            color:white;
        }
    }

    table{
        width: 100%;
        table-layout: fixed;
    }
    table tbody tr td{
        table-layout: fixed;

        position: relative;
        text-align: center;
        max-width:5%;
        overflow-wrap: break-word;
        button{
            color:rgb(134, 0, 0);
            background-color: white;
            transition: 0.4s;
        }
        button:hover{
            background-color: rgb(255, 255, 255);
            color:rgb(255, 0, 0);
    }
}
}
@media only screen and (max-width: 834px) {
    .hideUser{
        display:none;
    }
    .admin{
        width: 99% !important;
        margin-right: auto !important;
        margin-left: auto !important;
    }
}

@media only screen and (max-width: 700px)
{
 .hideUser{
        display:none;
    }
}

.detaljiSlika{
    width:50px !important;
}

.disabledApprove{
    color: grey !important;
}
.header{
    text-align: center;
    font-size: 20px !important;
}

.tabelaDetalji tbody td{
    padding:10px;
    text-align: left;
    border: 0px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-spacing: 0;
    margin:0;
}
.tabelaDetalji{
    border-spacing: 0;
    border:none;
    border-collapse: collapse;
    width: 100%;
}

.actions{
    .button{
        display: inline-block;
        color:black;
        background-color: white;
        padding:15px;
        transition: 0.4s;
    }
    .button:hover{
        background-color: rgb(70, 100, 139);
        color:white;
    }
}
